rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow create: if isOwner(userId) && request.resource.data.uid == userId;
      allow read, update, delete: if isOwner(userId);
    }

    match /characters/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /animes/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /creators/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /badges/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /votes/{voteId} {
      allow read: if true;
      allow create: if isSignedIn()
        && request.resource.data.user_id == request.auth.uid;
      allow update, delete: if isSignedIn()
        && resource.data.user_id == request.auth.uid;
    }

    match /comments/{commentId} {
      allow read: if true;
      allow create: if isSignedIn()
        && request.resource.data.user_id == request.auth.uid;
      allow update, delete: if isSignedIn()
        && resource.data.user_id == request.auth.uid;
    }

    match /subscriptions/{subscriptionId} {
      allow read: if isSignedIn()
        && resource.data.user_id == request.auth.uid;
      allow create, update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
